#prof-display {
    display: block;

    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

#uname-style {
    font-size:20px;
    font-weight: bold;
}

.bg-cover {
    background-image: url("../images/bg_1.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}